<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lebel for="title" class="form-lebel">Title</lebel>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter title.</div>
        </div>
        <div class="mb-3">
            <lebel for="description" class="form-lebel">Description</lebel>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter short description.</div>
        </div>
       
        <div class="mb-3">
            <lebel for="image" class="form-lebel">Upload Listing Image</lebel>
            <input name="listing[image]"  type="file" class="form-control"  required>
           
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <lebel for="price" class="form-lebel">Price</lebel>
                <input name="listing[price]" placeholder="1200"  class="form-control" required>
                <div class="invalid-feedback">Price should be valid.</div>
            </div>
            <div class="mb-3 col-md-8">
                <lebel for="country" class="form-lebel">Country</lebel>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Country name should be valid.</div>
            </div>
        </div>
       
        <div class="mb-3">
            <lebel for="location" class="form-lebel">Location</lebel>
            <input name="listing[location]" placeholder="Jaipur, Rajsthan" type="text" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Location should be valid.</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn mt-2">Add</button>
        <br><br>
    </form>
    </div>
</div>